<h4>Sign up as a new patient</h4>
<p>Please note that you may only sign up as a patient. If you are a consultant, please contact your system administrator for a practitioner's account.</p>


<% if @patient.errors.any? %>
   <p class="error"><b><%= "There were some errors with your signup:" %></b></p>
   <ul>
   <% @patient.errors.full_messages.each do |message| %>
      <li><%= message %></li>
   <% end %>
   </ul>
<% end %>
* compulsory fields
<br>
<br>

<%= form_for @patient do |f| %>
   
  <div class="form-group">
    <%= label_tag(:first_name) %>*
    <%= text_field_tag(:first_name, nil, class: "form-control") %>
  </div>

  <div class="form-group">
    <%= label_tag(:middle_name, "Middle name (if applicable)") %>
    <%= text_field_tag(:middle_name, nil, class: "form-control") %>
  </div>

  <div class="form-group">
    <%= label_tag(:surname) %>*
    <%= text_field_tag(:surname, nil, class: "form-control") %>
  </div>

   <div class="form-group">
    <%= label_tag(:date_of_birth) %>*
    <%= date_field_tag(:date_of_birth, nil, class: "form-control") %>
  </div>

   <div class="form-group">
    <%= label_tag(:email) %>*
    <%= text_field_tag(:email, nil, class: "form-control") %>
  </div>

   <div class="form-group">
    <%= label_tag(:password) %>*
    <%= password_field_tag(:password, nil, class: "form-control") %>
  </div>

   <div class="form-group">
    <%= label_tag(:password_confirmation) %>*
    <%= password_field_tag(:password_confirmation, nil, class: "form-control") %>
  </div>

   <div class="actions">
      <br/>
      <%= f.submit "Sign up as new patient", class: "btn btn-primary" %>
   </div>

<% end %>
