<h3>Medical record: <%= full_name(@patient) %></h3>
<% if @patient.date_of_birth %>
   <p><b>Date of Birth:</b> <%= @patient.date_of_birth.strftime('%d/%m/%Y') if @patient.date_of_birth %></p>
<% end %>
<br>
<% if @patient.appointments.any? %>
   <table>
      <tr>
         <th>Appointment date</th>
         <th>Diagnosis</th>
         <th>Drug prescribed</th>
         <th>To be taken until</th>
         <th>Current drug?</th>
         <th>Appointment link</th>
      </tr>
      <% @patient.appointments.sort_by{ |appointment| appointment.date }.reverse!.each do |appointment| %>
         <tr>
            <td><%= appointment.date.strftime('%d/%m/%Y') %></td>
            <td>
            <% if @patient.conditions.find_by(name: appointment.diagnosis.downcase) %>
               <%= appointment.diagnosis %>
               <%= link_to "(remove)", "/conditions/#{@patient.conditions.find_by(name: appointment.diagnosis.downcase).id}" if session[:doctor_id] %>
            <% end %>
            </td>
            <% if @patient.drugs.find_by(name: appointment.drug_prescribed) %>
               <td>
                  <%= appointment.drug_prescribed %>
                  <%= link_to "(remove)", "/drugs/#{@patient.drugs.find_by(name: appointment.drug_prescribed).id}" if session[:doctor_id] %>
               </td>
               <td>
                  <%= PatientDrug.find_by(patient_id: @patient.id, drug_id: Drug.find_by(name: appointment.drug_prescribed)).prescription_expiry.strftime('%d/%m/%Y') %>
               </td>
               <td>
                  <%= if PatientDrug.find_by(patient_id: @patient.id, drug_id: Drug.find_by(name: appointment.drug_prescribed)).prescription_expiry > Time.now then "Yes" else "No" end %>
               </td>
            <% else %>
               <td></td><td></td><td>No</td>
            <% end %>
            <td><%= link_to "(view)", patient_appointment_path(patient_id: @patient, id: appointment) %>
         </tr>
      <% end %>
   </table>
<br>
<p><b>Note:</b> This is a reflection of the active conditions of the patient. If more information is required from an appointment, please visit the appointment's main view.</p>
<% end %>
<br>
<% if @drug_interactions.any? %>
   <br>
   <h3>Interactions</h3>
   <% @drug_interactions.each do |d| %>
      <p><b><%= d[0].drug_1 %> and <%= d[0].drug_2 %></b></p>
      <p><%= d[0].info %></p>
   <% end %>
<% end %>

<% if @drug_contraindications.any? %>
   <br>
   <h3>Contra-Indications</h3>
   <% @drug_contraindications.each do |contra| %>
      <p><%= contra %></p>
   <% end %>
<% end %>
