<h3>Hello, <%= full_name(@user) %>.</h3>
<br>
<p>Appointment History:</p>
<table>
   <tr>
      <th>Date</th>
      <th><%= @user_id_type == "doctor_id" ? "Patient" : "Doctor" %></th>
      <th>Link</th>
   </tr>
   <% @user.appointments.sort_by{ |appointment| appointment.date }.reverse!.each do |appointment| %>
   <tr>
      <td><%= appointment.date.strftime('%d/%m/%Y') %></td>
      <td><%= full_name(@user_id_type == "doctor_id" ? appointment.patient : appointment.doctor) %></td>
      <td><%= link_to "(view)", appointment_path(appointment) %>
   </tr>
   <% end %>
</table>
