<h4>New appointment</h4>

<% if @appointment.errors.any? %>
   <p class="error"><b><%= "There were some errors with this new appointment:" %></b></p>
   <ul>
   <% @appointment.errors.full_messages.each do |message| %>
      <li><%= message %></li>
   <% end %>
   </ul>
<% end %>
<br>

<%= form_tag(doctor_appointments_path) do %>
  
  <div class="form-group">
    <%= label_tag(:name, "Name of patient") %><br>
   <input list="patients" name="patients" id="patient">
   <datalist id="patients">
      <% @patients.each do |patient| %>
         <option value="<%= full_name patient %> - <%= patient.id %>">
      <% end %>
   </datalist>
  </div>

  <div class="form-group">
    <%= label_tag(:date, "Date of appointment") %>
    <%= date_field_tag(:date, nil, class: "form-control") %>
  </div>

  <div class="form-group">
    <%= label_tag(:complaint, "Presenting complaint") %>
    <%= text_field_tag(:complaint, nil, class: "form-control") %>
  </div>

  <div class="form-group">
    <%= label_tag(:diagnosis) %>
    <%= text_field_tag(:diagnosis, nil, class: "form-control") %>
  </div>

  <div class="form-group">
    <%= label_tag(:drug_name, "Prescription") %><br>
   <input list="drugs" name="drugs" id="drug">
   <datalist id="drugs">
      <% @drugs.each do |drug| %>
         <option value="<%= drug.name %>">
      <% end %>
   </datalist>
  </div>

  <div class="form-group">
    <%= label_tag(:prescription_expiry, "Date for prescription to be taken until") %>
    <%= date_field_tag(:prescription_expiry, nil, class: "form-control") %>
  </div>
   
  <br>
  <div class="actions">
    <%= submit_tag("Submit appointment") %>
  </div>

<% end %>
