<h3>View appointment (<%= @appointment.date.strftime('%d/%m/%Y') %>)</h3>
<p>Patient: <%= full_name(@appointment.patient) %></p>
<p>Consultant: Dr <%= full_name(@appointment.doctor) %></p>
<br><br>

<p><b>Presenting complaint:</b> <%= @appointment.complaint %></p>
<p><b>Diagnosis:</b> <%= @appointment.diagnosis %></p>
<p><b>Drug prescribed:</b> <%= @appointment.drug_prescribed %></p>

<% if @drug_interactions.any? %>
   <br>
   <h3>Interactions</h3>
   <% @drug_interactions.each do |d| %>
      <p><b><%= d[0].drug_1 %> and <%= d[0].drug_2 %></b></p>
      <p><%= d[0].info %></p>
   <% end %>
<% end %>


<% if @drug_contraindications.any? %>
   <br>
   <h3>Contra-Indications</h3>
   <% @drug_contraindications.each do |contra| %>
      <p><%= contra %></p>
   <% end %>
<% end %>
