<!doctype html>
<html>
  <head>
    <title>SecMed</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
  </style>
  <body>
    <div class="container">
      <h1>SecMed</h1>
      <br>
      <% if logged_in? %>
        <% if session.to_h.has_key?("patient_id") %>
          <%= link_to "Appointments", patient_appointments_path %>   
          <%= link_to "Medical record", patient_path(session[:patient_id]) %>   
        <% elsif session.to_h.has_key?("doctor_id") %>
          <%= link_to "Appointments", doctor_appointments_path(session[:doctor_id]) %>   
          <%= link_to "View all patients", patients_path %>   
          <%= link_to "New appointment", new_doctor_appointment_path(session[:doctor_id]) %>   
        <% end %>
        <%= link_to "Log out", logout_path %>
      <% else %>
        <%= link_to "Log in as a patient with Facebook", '/auth/facebook' %>   
        <%= link_to "Log in as practitioner", login_path %>
      <% end %>
      <br><br>
      <%= yield %>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    </div>
  </body>
</html>
